* {box-sizing: border-box;}
body {
	color: #fff;
	background-color: #58B19F;
	margin: 0 auto;
	font-family: 'Roboto Mono', monospace;
	.search {
		display: flex;
    	flex-direction: column;
    	align-items: center;
    	h1{
    		text-transform: uppercase;
    	}
		  button {
        background-color: #FC427B;
        color: #fff;
        border: 2px solid #FC427B;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 20px;
        transition: .5s;
			&:hover {
				transform: scale(1.05);
			}
			&:focus { 
				outline: 0;
			}		
		}
		input {
			height: 35px;
	    width: 250px;
	    margin: 15px 0;
	    text-align: center;
		}
	}
	.result {
		padding: 20px;
   		h2 {
      		text-align: center;
    	}
		#countries {
		  margin-top: 25px;
	      display: flex;
	      flex-wrap: wrap;
	      justify-content: center;
	      .card {
		      padding: 10px;
		      background-color: #44887a;
		      margin: 10px;
		      width: 390px;
		      transition: .7s;
		      &:hover {
		        background-color: #416f66;
		      }
		      .name {
		        display: flex;
		        align-items: center;
		      }        
		      h3 {
		        font-size: 17px;
		        text-transform: uppercase;
		        margin: 0 0 0 10px;
		        display: inline-block;
		        max-width: 300px;
		      }
		      table {
		          border: 1px solid #EFE9CD;
		          border-collapse: collapse;
		          width: 100%;
		          th, 
		          td {
		            @extend table;
		            padding: 5px;
		            text-align: left;
		            width: 50%;
		          }
	          }
	      }
        }
	}
}
